.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;

    &-image {
      padding: 0 2rem;
        display: block;
        border-radius: 1px;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
  
  